/* ----------------------------------------------------------------------------------- */

:root {
    --gray: gray;
}


/* -------------- */
/*     GENERAL    */
/* -------------- */

* {
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
              

    }
/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

.smallsearchbar input{
    width: 2vw;
    border-radius: 10px;
}
#headersearchbar{
    margin-left: 8vh;
}

#navibar { 
   margin-top: 4vh;
}

#searchbtn {
    width: 5vw;
    border:solid 1px gray;
}

#headerright ul li a{
    margin-left: 3vh;
    color: var(--gray);
}

#headerleft ul li a{
    text-decoration: none;
    color: var(--gray);
}

#headersignbtn{
    padding: 5vh;
    margin-left: 3vh;
}

#headermediaqueries{
    display: none;
}


/* ------------- */
/*     MOBILE   */
/* ------------- */

@media screen and (max-width: 750px){


#headerleft,#headersearchbar,#headerright{
    display: none;
}

#headermediablockleft{
    margin-left: 10vm;
}

#headermediaqueries{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


.headermediaqueries h2 {
    color: black;
}

#upperheaderwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headersearchbarquery{
    display: flex;
    flex-direction: column;
}
#headersearchbarquery input{
    margin: 0;
    height: 2em;
}

.headermediablockcenter{
    height: 3vh;
}

#searchbtn {
    border:solid 1px gray;
}

#headerright ul li a{
    color: var(--gray);
}

#headerleft ul li a{
    text-decoration: none;
    color: var(--gray);
}

#headersignbtn{
    padding: 0.5em;
}
#headersubwrapperquery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchsubmitheader{
   font-size: 0.8em;

}

#lowerheaderwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */

    .pageContent {
        min-height: 80vh;
    }

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
        
       

    }

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */

    .myFooter {
        width : 80vh;
        margin: 0 auto!important;
    }

    .footerText {
        font-size :2vw;
    }

    #footerCenterText {
        font-size :3vw;
        font-weight: bold;
    }

    .line {
        width : 80vh;
        height:1em;
    }

    .pills {
        width : 2em;
        height: 0.5em;
        border-radius: 50%;
    }

    .textBox{
        width : 20vh;
        margin : 0 auto!important;
    }

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
       
        .footerText {
            font-size :7.5vw;
        }
    
        #footerCenterText {
            font-size :10vw;
        }

        #bottomLinks {
            justify-content: center!important;
            flex-direction: column!important;
        }

        .textBox{
            width : 13vh;
        }

    }
/* ----------------------------------------------------------------------------------- */