/* ----------------------------------------------------------------------------------- */

:root {
    --gray: gray;
}


/* -------------- */
/*     GENERAL    */
/* -------------- */

* {

    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){
              

    }
/* ------------------------------------------------- */

/* ------------- */
/*     HEADER    */
/* ------------- */

#decoBtn{
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#headerNavbarMobile{
    display:none!important;
    justify-content: space-between!important;
}

#headerLogo {
    font-size:2em!important;
    padding:2vh!important;
}

#headerNavbar{
    justify-content:space-between!important;
}

.col #headerHelpLink{
}

.col #headerHelpLink{
    margin-left:4vw!important;
}

#signInHeaderBtn{
    padding:1vw!important;
}

#headermediaqueries{
    display: none;
}
.input-group-text #basic-addon2{
    padding:1vh!important;
}


/* ------------- */
/*     MOBILE   */
/* ------------- */

@media screen and (max-width: 750px){


    #headerNavbar{
        display:none!important;
    }
    #headerNavbarMobile{
        display:flex!important;
        width:50vh!important;
        font-size:0.8em!important;
    }


    #headerLogo {
        font-size:1em!important;
        padding:2vh!important;
    }
    #dropdownMenuLink{
        font-size:1em!important;

    }
    .mb-3 {
        margin-bottom: 3rem!important;
    }

    .col #headerHelpLink{
    }

    .col #headerHelpLink{
        margin-left:4vw!important;
    }

    #search{
        font-size:0.8em!important;
    }

    #signInHeaderBtn{
        font-size:0.8em!important;
        padding:0.7vw!important;
        margin-left:1vh!important;
    }

    #basic-addon2{
        padding:1vh!important
    }

    

}

/* ------------------------------------------------- */

/* -------------- */
/*      MAIN      */
/* -------------- */


.contact-us{
    width: 30px;
}

/* -------------- */
/*    MAIN CART   */
/* -------------- */

.cartPics {
    width:90%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1/0.8;
    object-fit:cover;
}

#cartIcon {
    width:75%;
    display: block;
}


/* -------------- */
/*    USER PAGE   */
/* -------------- */

.prodPics {
    width:90%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1/1;
    object-fit:contain;
}


    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){   
        
       

    }

/* ------------------------------------------------- */

/* ------------- */
/*     FOOTER    */
/* ------------- */

    .myFooter {
        width : 80vh;
        margin: 0 auto!important;
    }

    .footerText {
        font-size :2vw;
    }

    #footerCenterText {
        font-size :3vw;
        font-weight: bold;
    }

    .line {
        width : 80vh;
        height:1em;
    }

    .pills {
        width : 2em;
        height: 0.5em;
        border-radius: 50%;
    }

    .textBox{
        width : 20vh;
        margin : 0 auto!important;
    }

    /* ------------- */
    /*     MOBILE   */
    /* ------------- */

    @media screen and (max-width: 750px){

        .myFooter {
            display:block!important;
            flex-direction:column!important;
            padding:0!important;
            margin:0!important;
            width:50vh!important;
        }

        .line {
            width : 50vh!important;
            height:1em;
        }

        .textBox{
            width : 10vh!important;
            margin : 0 auto!important;
        }

        .footerText {
            font-size :4vw;
        }
    
        #footerCenterText {
            font-size :4vw;
        }

        #bottomLinks {
            flex-direction: column!important;
        }

    }

/* ------------------------------------------------- */

/* -------------- */
/*      FORMS      */
/* -------------- */

/* ------------- */
/*     MOBILE   */
/* ------------- */

@media screen and (max-width: 750px){



}

/* ------------------------------------------------- */



/* ----------------------------------------------------------------------------------- */

/* taille de ma main et modif curseur */
main{

    margin: auto;
    cursor: url(image/cursor.svg),pointer;
}
/* banniere avce logos  */
.ban{
    display:flex;
    justify-content: space-between;
}

/*contenue des cards poduits  */

/* div contenant les info des produits */
.shopRow{
    display:flex;
    justify-content: space-around;
}
.card{
    width:250px ;
}
/* gere le css du nom profuit dans la card detail  */
.sizeNom{
    height: 50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    margin-left: 4px;
    margin-right: 4px;
}

.sizeNom:hover{
    color: rgb(49, 70, 163);
}

/* gere l'ensemble de l'affichage page */
.content{
    display: flex;
}
/* padding des categorie */
.pad{
    margin-left:15px;
}

/* gere l'aspect des images de la page shop  */
.image{
    width: 90%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    object-position: bottom;
    border-radius: 6px;
}
/* design et mise en page de la page article */
.units{
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: solid 1px;
    color: #6C757D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}


.infosProduit{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.dispo{
    display: flex;
    justify-content: space-around;
}

.details{
    width: 40%;
    display: block;
    margin: 40px;
    /* aspect-ratio: 1 / 1.5;
    object-fit: cover; */
    object-position: bottom;
    border-radius: 6px;
}

.info{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: absolute;
    margin-left: 540px;
    margin-top: 200px;
}

.nomArticle{
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    margin: auto;
    position: absolute;
    margin-left: 530px;
    width: 250px;

}

.descArticle{
    margin-top: auto;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
}

.img-carousel{
    width: 30%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1.5;
    object-fit: contain;
    object-position: bottom;
    border-radius: 6px;
    }
    .carousel-indicators{
        bottom: -55px !important;
    }
    .row{
        padding-bottom:50px;
        margin-bottom:100px;
        width:80%;
        display:flex;
        margin:auto !important;
    }
   

.carousel-indicators li {
  border-bottom: 5px solid !important;
  opacity: .5 ;
  transition:opacity .4s ease !important;
  color: black !important;
    }

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.banner{
    height: 150px;
    color:white;
    display:flex;   
    font-size: 3vw;
    font-family: 'Nanum Myeongjo', serif;    
}

.slogan{
    font-size:10px;
}

.trade{
    font-size:40px;
    padding-left:10px;
}

.ajouts{
    background-color:#201E1F;
}

.start{
    display:flex;
    justify-content:start;
}

.end{
    display:flex;
    justify-content:end;
}

.fromage{
    display:flex;
    justify-content:space-around;
}

.footStyle{
    display:flex;
    justify-content:space-around;
    width:175%;
    margin-left: -120px;

}

.linkFoot{
    color:white;
}

.ml{
    margin-left:-15px;
}

.logoFoot{
    gap:50px;
}

.copyright{
    color:white;
    margin-left:0;
}

.paimentForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242d60;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Ubuntu', sans-serif;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .containerForm{
    width: 25%;
    margin:auto ;
    border: solid 1px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }
  
  .buttonPaye:hover {
    opacity: 0.6;
  }
  
  .buttonPaye{
    margin: 0 auto !important;
    display: flex !important;
    justify-content: center !important;
    background-color: #54C7C3 !important;
    color: white !important;
  }
  
  
  .verification{
    display: flex;
    gap:25;
  }
  
  .trait_dessus{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: bolder;
    border-bottom: 1px solid #54C7C3;
    width : 235px;
    margin-bottom: 5px;
  }
  
  .mounth{
    padding-right: 10px;
  }
  
  .recapPanier{
    border: solid 2px;
    border-radius: 8px;
    background-color: #54C7C3;
    width: 40%;
  
  }
  